* {
    box-sizing: border-box;
}

.containerRg {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.range-slider {
    position: relative;
    /* width: 100vmin; */
    width: -webkit-fill-available;
    height: 20vmin;
}

.range-slider_input {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transform: translateY(-50%);
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    opacity: 0;
    margin: 0;
}

.range-slider_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
}

.range-slider_input::-moz-range-thumb {
    width: 10vmin;
    height: 10vmin;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
}

.range-slider_thumb {
    width: 10vmin;
    height: 10vmin;
    border: 0.4vmin solid #6019ea !important;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 4vmin;
    color: #6019ea !important;
    z-index: 2;
}

.range-slider_line {
    height: 2vmin;
    border-radius: 5px;
    width: 100%;
    background-color: #6019ea3d;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    z-index: 1;
}

.range-slider_line-fill {
    position: absolute;
    height: 2vmin;
    border-radius: 5px;
    width: 0;
    background-color: #6019ea !important;
}