/*
* custom.css
by Rajiv Gangwar
* File include item Custom only specific css only
******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Epilogue;
}

.login-img img {
  width: 450px;
  height: 100vh;
  padding-bottom: 50px;
}

.login-bg {
  background-color: #f8f4f1;;
}

/* login-form */
.position-container {
  width: 450px;
  margin: 80px 80px 0px;
}

/* .main-title {
  font-size: 26px;
  line-height: normal;
  color: #301d10;
  margin-bottom: 0;
  padding: 0;
  font-weight: 700;
  font-family: 'Fraunces', serif;
} */

.main-title {
  font-size: 20px;
  line-height: 48px;
  color: #171A1FFF;
  margin-bottom: 0;
  padding: 0;
  font-weight: 700;
  font-family: Epilogue;
}

.sub-heading {
  font-size: 16px;
  line-height: 36px;
  color: #323842FF;
  font-weight: 700;
  font-family: Epilogue;
}

.Rg-Modal-title {
  font-size: 16px;
  line-height: 50px;
  color: #171A1FFF;
  font-weight: 700;
  font-family: Epilogue;
}

.Rg-Lable-title {
  font-size: 14px;
  line-height: 36px;
  color: #171A1FFF;
  font-weight: 700;
  font-family: Epilogue;
}

.bg-project {
  background-color: #6019ea;
  color: #f8f9fb;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.2rem;
}

.privacy-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* min-height: calc(100vh - (1.625rem * 2)); */
  /* text-align: center; */
}

.bg-custom-primary {
  background-color: #f6f6ff;
}

.rj-section {
  border: 1px solid #d8e2ef;
  border-radius: 8px;
  padding: 10px;
}

.text-link {
  text-decoration: underline !important;
  /* text-align: center !important; */
  cursor: pointer !important;
  font-size: 1.2rem;
}

.bg-menu-theme .menu-text {
  color: #6019ea;
}

.app-brand-text.demo {
  font-size: 1.25rem;
  color: #6019ea;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
  background-color: #6019ea !important;
  border-color: #6019ea !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(96 25 234) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #6019ea !important;
  border-color: #6019ea !important;
  transform: translateY(-1px);
}

.bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
  color: #ffffff;
  background-color: #6019ea !important;
}

.input-group:focus-within .form-control,
.input-group:focus-within .input-group-text {
  border-color: #6019ea;
}

.form-control:focus,
.form-select:focus {
  border-color: #6019ea;
}

.bg-menu-theme .menu-inner>.menu-item.active:before {
  background: #6019ea;
}

.menu-inner-shadow {
  top: 5.225rem;
}

.menu-vertical .menu-header {
  margin: 0.5rem 0 0.5rem 0;
}

.menu-vertical .app-brand {
  padding-right: 2rem;
  padding-left: 1rem;
}

.navbar-detached {
  /* box-shadow: 0 0 0.375rem 0.25rem rgb(161 172 184 / 15%); */
  box-shadow: none;
}

.layout-navbar {
  /* background-color: rgb(248 244 241) !important; */
  background-color: #fafafb !important;
}

.layout-navbar.navbar-detached {
  border-radius: 0;
  border-bottom: 1px solid #dadfe5;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
  background-color: #6019ea;
  color: #fff;
  box-shadow: 0 2px 4px 0 #6019ea;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  color: #566a7f;
}

.btn-check:checked+.btn-outline-primary,
.btn-check:active+.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #6019ea;
  border-color: #6019ea;
}

.btn-outline-theme {
  color: #641CECFF;
  background: #F5F1FEFF;
  opacity: 1;
  /* border: none; */
  border-color: #f5f1fe !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(96 25 234 / 18%) !important;
}

.btn-outline-theme:hover {
  color: #641CECFF;
}

.btn-outline-primary {
  color: #6019ea;
  border-color: #6019ea !important;
  background: transparent;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #5f61e6;
  border-color: #5f61e6;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  transform: translateY(-1px);
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before {
  position: absolute;
  display: block;
  opacity: .125;
  right: 10px;
  line-height: 9px;
  font-size: 1em !important;
  color: #641CECFF !important;
}

table.dataTable thead>tr>th.sorting_asc:before, 
table.dataTable thead>tr>th.sorting_desc:after, 
table.dataTable thead>tr>td.sorting_asc:after, 
table.dataTable thead>tr>td.sorting_desc:after {
  opacity: 0 !important;
}

.bg-menu-theme .menu-link,
.bg-menu-theme .menu-horizontal-prev,
.bg-menu-theme .menu-horizontal-next {
  color: #565e6c;
  font-weight: 600;
}


/* for order read more css start three dots  */

#more {
  display: none;
}

/* for order read more css end three dots  */



/* for Mutiselect dropdown box start */

.ms-options-wrap>button:focus,
.ms-options-wrap>button {
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
}

.ms-options-wrap,
.ms-options-wrap * {
  list-style: none;
}

.ms-options-wrap>.ms-options {
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
}

/* for Mutiselect dropdown box end */


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .d-mb-none {
    display: none;
  }

  .mb-Rg-3 {
    margin-bottom: 1rem !important;
  }

  .authentication-wrapper {
    display: flex;
  }

  .position-container {
    width: auto !important;
    margin: 0;
  }

  .misc-wrapper {
    width: auto !important;
  }
}


.Rg-Title {
  font-size: 32px;
  line-height: 48px;
  color: #171A1FFF;
  font-weight: 700;
}

.Rg-Graph-Title {
  /* font-size: 50px; */
  line-height: 48px;
  color: #171A1FFF;
  font-weight: 700;
}

.Rg-Title {
  font-size: 32px;
  line-height: 48px;
  color: #171A1FFF;
  font-weight: 700;
}

.Rg-subHeading {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.Rg-accordion-number {
  font-size: 30px;
  line-height: 23px;
  font-weight: 700;
  color: #6019ea;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 6px;
}

/* Colors end  */
.bg-themePx {
  background: #F5F2FDFF !important;
}

.bg-themeDark {
  background: #D9CBF6FF;
}

.bg-SecondaryLight {
  background: #DEE1E6FF;
}

.clr-theme {
  color: #6019ea;
}

.bg-primaryPx {
  background: #F1F4FDFF !important;
}

.clr-primary {
  color: #4069E5FF;
}

.bg-infoPx {
  background: #EBFDFFFF !important;
}

.clr-info {
  color: #00BDD6FF;
}

/* Colors end  */

.RgCard {
  height: 114px;
  border-radius: 12px;
  /* box-shadow: 0px 8px 17px #f5f2fd, 0px 0px 2px; */
}

.RgCard:hover {
  box-shadow: 0px 8px 17px #f5f2fd, 0px 0px 2px;
  transform: rotate(0deg) translateY(-3.5px) scale(1.025);
  transition: 0.3s;
}

.RgTable {
  border: 1px solid #dedede;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
}

table.dataTable.no-footer {
  border-bottom: #dedede !important;
}

.dataTables_wrapper .dataTables_filter {
  margin-bottom: 5px !important;
}


.icon {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.icon.icon-sm {
  width: 25px;
  height: 25px;
  font-size: 10px;
  line-height: 28px;
}

.icon-lg {
  font-size: 35px;
}

.icon.icon-primary {
  background-color: #641cec;
  color: #fff;
}

.icon.icon-secondary {
  background-color: #198754;
  color: #fff;
}

.icon.icon-danger {
  background-color: #fb452f;
  color: #fff;
}

.Rg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .Rg-img.lesson-img {
  background-image: url(/assets/img/lesson.png);
} */

.Rg-img.lesson-img {
  height: 300px;
}

.text-decoration {
  text-decoration: underline 2px;
}


/* Rg Notification Panel start  */
.Rg-Notification {
  position: absolute !important;
  top: -10px !important;
}

.Rg-Notification-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 5px 25px;
}

.Rg-Notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.Rg-Notification-item h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.Rg-Notification-item p {
  margin: 0;
}

/* Rg Notification Panel start  */

.misc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - (80px * 2));
  text-align: center;
  width: 600px;
  margin: auto;
}

.app-header {
  background-color: #f8f4f1;
  padding: 1rem 3rem;
  /* margin-bottom: 1rem; */
  width: 100%;
  height: 85px;
  box-shadow: 0 0px 2px #e0e0e0;
}

.app-header .logo {
  width: 192px;
  /* margin: 0 auto; */
}

img {
  width: 100%;
}

.text-left {
  text-align: left !important;
}

.apexcharts-tooltip.light{    
  background:red;
  color:green;    
  }